doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    // jQuery
    script(src='/javascripts/jquery-1.9.1.min.js', type='text/javascript')
    // RECAPTCHA
    script(type='text/javascript', src='https://www.google.com/recaptcha/api/js/recaptcha_ajax.js')
    // jQuery easing plugin
    script(src='/javascripts/jquery.easing.min.js', type='text/javascript')
    // jQuery validate plugin
    script(src='/javascripts/jquery.validate.min.js', type='text/javascript')
    // Programation of finance System
    script(type='text/javascript', src='/javascripts/main.js')