extends layout

block content
  div
    form#msform.login
      fieldset
        h2.fs-title Login
        input#email(type='text', name='username', placeholder='Usuario')
        input#pass(type='password', name='password', placeholder='Contraseña')
        input.action-button(type='button', name='registrar', value='Registrar')
        input.login-submit.action-button(type='submit', name='login', value='Ingresar')
